# Ignore everything to start with
*

# Generic ignores (should be covered by above, but just in case)
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
.cloud
.storage
.google.token
deps

# Specific keeps
!.gitkeep
!.gitignore
!.stubs
!.github/**
!.HA_VERSION
!*.yaml
!*.md
!LICENSE.txt
!includes
!docs
!blueprints

# Specific file ignores
ip_bans.yaml
secrets.yaml
known_devices.yaml
*.jpg
*.png
*.ttf

# Build-in blueprints ignores
blueprints/*/homeassistant

# Ignore files created by IDE's
.vscode
.theia
.Trash*

# Ignore vendored stuff
custom_components
themes
www

# Temporary ignores
.old_config
