---
name: "Home Assistant CI"
on:
  push:
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: 0 2 * * *

jobs:
  ha_version:
    name: Get Installed Version for Testing
    runs-on: ubuntu-latest
    outputs:
      current_version: ${{ steps.currentver.outputs.current_version }}
    steps:
      - name: Get config from GitHub
        uses: actions/checkout@v3
      - name: Get Installed Version from .HA_VERSION
        id: currentver
        run: |
          HA_VERSION=$(<.HA_VERSION)
          echo $HA_VERSION
          echo "current_version=$HA_VERSION" >> $GITHUB_OUTPUT  yamllint:
    
  name: YAML linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Run Frenk's yamllint
        uses: frenck/action-yamllint@v1.4.0
