---
name: "Home Assistant CI"
on:
  push:
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: 0 2 * * *

jobs:
  ha_version:
    name: Get Installed Version for Testing
    runs-on: ubuntu-latest
    outputs:
      current_version: ${{ steps.currentver.outputs.current_version }}
    steps:
      - name: 咎왪잺 Check out code from GitHub
        uses: actions/checkout@v3
      - name: 游 Get Installed Version from .HA_VERSION
        id: currentver
        run: |
          HA_VERSION=$(<.HA_VERSION)
          echo $HA_VERSION
          echo "current_version=$HA_VERSION" >> $GITHUB_OUTPUT
  
  yamllint:
    name: YAML linter
    runs-on: ubuntu-latest
    steps:
      - name: 咎왪잺 Check out code from GitHub
        uses: actions/checkout@v3
      - name: 游 Run yamllint
        uses: frenck/action-yamllint@v1.4.0

  home-assistant:
    name: Home Assistant Core ${{ matrix.version }} Configuration Check
    needs: [yamllint, ha_version]
    runs-on: ubuntu-latest
    # strategy:
      # matrix:
        # version: ["${{needs.ha_version.outputs.current_version}}", "stable", "beta", "dev"]
    steps:
      - name: 咎왪잺 Check out code from GitHub
        uses: actions/checkout@v3

      - name: 游늯 Create fake empty files
        run: |
          touch ./home-assistant_v2.db
          touch ./home-assistant.log
          touch ./fake_id_rsa
          touch ./fake_cert.pem
      
      - name: 游늬 Create empty custom components folder
        run: |
          mkdir -p ./custom_components

      - name: 游닌 Clone custom component - Average
        run: |
          git clone https://github.com/Limych/ha-average
          mv -v ha-average/custom_components/* ./custom_components

      - name: 游닌 Clone custom component - Lidarr Upcoming Media
        run: |
          git clone https://github.com/JackJPowell/sensor.lidarr_upcoming_media
          mv -v sensor.lidarr_upcoming_media/custom_components/* ./custom_components
      
      - name: 游닌 Clone custom component - Monitor Docker
        run: |
          git clone https://github.com/ualex73/monitor_docker
          mv -v monitor_docker/custom_components/* ./custom_components
      
      - name: 游닌 Clone custom component - Plex Recently Added
        run: |
          git clone https://github.com/custom-components/sensor.plex_recently_added
          mv -v sensor.plex_recently_added/custom_components/* ./custom_components
      
      - name: 游닌 Clone custom component - Radarr Upcoming Media
        run: |
          git clone https://github.com/custom-components/sensor.radarr_upcoming_media
          mv -v sensor.radarr_upcoming_media/custom_components/* ./custom_components
      
      - name: 游닌 Clone custom component - Sonarr Upcoming Media
        run: |
          git clone https://github.com/custom-components/sensor.sonarr_upcoming_media
          mv -v sensor.sonarr_upcoming_media/custom_components/* ./custom_components
      
      - name: 游닌 Clone custom component - UniFi gateway
        run: |
          git clone https://github.com/custom-components/sensor.unifigateway
          mv -v sensor.unifigateway/custom_components/* ./custom_components

      - name: 游끢 Check configuration
        uses: frenck/action-home-assistant@v1.4
        with:
          path: "."
          secrets: ./secrets-fake.yaml
          # version: "${{ matrix.version }}"
          version: stable
